body {
    background-image: url("../src/images/background.jpg");
    background-size: 100% 100%;
}

.outline {
    margin: auto;
    width: 350px;
    border: solid;
    border-radius: 22px;
    text-align: center;
    margin-top: 10%;
    padding: 2%;
    background-color: #f7f7f7;
}

.title {
    text-shadow: 1px 1px 2px rgb(1, 1, 107);
}

.borders{
    border: solid;
    border-radius: 22px;
    padding: 2%;
    margin-top: 5%;
    background-color: rgb(206, 206, 206);
}

button {
    margin-top: 5%;
    font-size: 25px;
    background-color: rgb(153, 31, 31);
    font-weight: bold;
}

label {
    float: left;
}

#tip-range {
    margin-left: 50px;
}

input[type=text] {
    width: 150px;
}

input {
    width: 80px;
    background-color: #f7f7f7;
}

#split-total {
    margin-left: 40px;
}

.range-slider-range {
    margin-left: 17.5%;
}

.slider {
    -webkit-appearance: none;
    width: 40%;
    height: 25px;
    background: grey;;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(1, 1, 107);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(1, 1, 107);
    cursor: pointer;
}

#bill-total {
    margin-left: 45px;
}

.total-bill,
.split-between {
    padding-top: 10px;
}

.percent {
    color:green;
    font-weight:bold;
    text-align:center;
    width:100%;
    border:none;
  }

.ui-slider-range {
    background:green;
}