body {
    background-color: black;
}

.outline {
    margin: auto;
    width: 350px;
    border: solid;
    border-radius: 22px;
    text-align: center;
    margin-top: 10%;
    padding: 2%;
    background-color: white;
}

.borders{
    border: solid;
    border-radius: 22px;
    padding: 2%;
    margin-top: 5%;
    background-color: rgb(206, 206, 206);
}

button {
    margin-top: 5%;
    font-size: 25px;
    background-color: rgb(153, 31, 31);
    font-weight: bold;
}

label {
    float: left;
}

#tip-range {
    margin-left: 50px;
}

input[type=text] {
    width: 150px;
}

input {
    width: 80px;
    background-color: #f7f7f7;
}

#split-total {
    margin-left: 40px;
}

#bill-total {
    margin-left: 45px;
}

.total-bill,
.split-between {
    padding-top: 10px;
}

.percent {
    color:green;
    font-weight:bold;
    text-align:center;
    width:100%;
    border:none;
  }

.ui-slider-range {
    background:green;
}